.method-button {
  background-color: #fff;
  color           : #5b5f75;
  padding         : inherit;
  margin          : inherit;
  width           : 60px;
  border-radius   : 60px;
  border-width    : 2px;
  font-weight     : 700;
}

.date-button {
  background-color: #f1f1f1;
  margin-bottom   : 20px;
  border-width    : .01px;
  z-index         : 999;
  margin-right    : 150px;
}

.event {
  display      : flex;
  margin-left  : 20px;
  margin-bottom: 2px;
}

.end-point {
  display      : flex;
  margin-left  : 20px;
  margin-bottom: 2px;
}