.events {
  display        : flex;
  flex-direction : column;
  justify-content: center;
  width          : 100%;
}

.method-button {
  background-color   : #f1f1f1;
  color              : #5b5f75;
  border-bottom-style: none;
  width              : 60px;
  border-radius      : 60px;
  font-weight        : 700;
  size               : 12px;
}

.date-button {
  background-color   : #f1f1f1;
  border-bottom-style: none;
}

.anchor-row {
  display       : flex;
  flex-direction: row;
}

.event {
  display      : flex;
  margin-left  : 30px;
  margin-bottom: 2px;
}